#tr1{
    background-color: white;}

#tr2{background-color: deepskyblue;}
body
{background-color: red;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ee0404;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(4, 217, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #ffffff;
  }